/* ---------------------- GENERAL ----------------------*/

.col-md-12 {
  text-align: center;
  }
  p.col-md-6 {
    text-align: center;
    }

p {
  font-family: Roboto;
  text-align: justify;
}
  body {
    background-color: #ECEEEF;
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
html {
  height: 100%;
}
a {
  text-decoration: none;
  color: #3F51B5;
  font-weight: bold;
}

h3 {
    font-family: Roboto;
    color: #BDBDBD;
}

#footer {
  background-color: #3f51b5;
  color: #fff;
  height: 50px;
  padding-top: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
.display-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* ------------------ NAVBAR ------------------*/

/* Couleur de la bar du menu de base*/
.navbar-default {
  background-color: #3F51B5;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

/* Couleur du text du menu de base*/
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: Roboto;
    font-weight: bold;
}

/* Couleur du text par defaut quand on passe la souris dessus*/
.navbar-default .navbar-nav>li>a:hover {
    color: #BDBDBD;
}
/* Couleur du fond et du text du lien actif*/
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
      color: red;
      background-color: #3f51b5;
      }

/* Couleur du text actif quand on passe la souris dessus*/
.navbar-default .navbar-nav>.active>a:hover{
  color:#BDBDBD;
  }
/* ------------------ CONTAINER INDEX ------------------*/


#nom {
  font-weight: bold;
  font-family: Roboto;
  color: #3f51b5;
  font-size: 100px;
  }

#prenom {
  font-weight: lighter;
  font-family: Roboto;
  color: #3f51b5;
  font-size: 100px;
  }

  #obj {
    font-family: Roboto;
    font-size: 25px;
    color: #3f51b5;
    font-style: italic;
  }

.img-circle {
  	width: 200px;
  	height: 200px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -moz-box-shadow: 2px 2px 20px #000000;
    -webkit-box-shadow: 2px 2px 20px #000000;
    box-shadow: 2px 2px 20px #000000;
  }




/* --------------------------- Page Contact -------------------------*/

#titreMap {
  font-family: Roboto;
  font-size: 30px;
  color: #3F51B5;
}

#contactMail {
  text-align: center;
  color: #3f51b5;
  font-family: Roboto;
  font-size: 30px;
}

#contactTel {
  text-align: center;
  color: #3f51b5;
  font-family: Roboto;
  font-size: 30px;
}


/* --------------------------- Page A Propos -------------------------*/

#stage {
  color: red;
}
.thumbnail {
  border: solid #3F51B5 1px;
  padding: 30px;
}

/*
.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;.
    align-items: center;
    height: 100%;
    background-color: red;
}
*/

@media all and (max-width:1205px) {
  #containerposition {
    padding-top: 15px;
}
}
@media all and (max-width:1138px) {
  #containerposition {
    padding-top: 25px;
}
}
.fa-2x {
  color: #fff;
}
.fa-2x:hover {
  color: #BDBDBD;
}

@media all and (max-width:479px) {
  #nom {
    font-size: 90px;
  }
}
@media all and (max-width:433px) {
  #nom {
    font-size: 70px;
  }
}
@media all and (max-width:320px) {
  #nom {
    font-size: 60px;
  }
}
@media all and (max-width:433px) {
  #prenom {
    font-size: 60px;
  }
}
@media all and (max-width:320px) {
  #obj {
    font-size: 20px;
  }
}
@media all and (max-width:375px) {
  #contactMail, #contactTel {
    font-size: 20px;
  }
}
@media all and (max-width:320px) {
  #contactMail, #contactTel {
    font-size: 20px;
  }
}
